<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ping</title>
</head>
<body>
    <!-- action은 form을 보내는 url을 정의하는 곳 -->
    <form action="/pong">
        <!-- age를 작성해주세요(나이에 관한 정보가 담겨있음) -->
        <input type="text" name="age">
        <button type="submit">제출하기</button>
    </form>
    <!-- form 태그 안에 input, button 넣어야 적용됨 -->
</body>
</html>